extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col.md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nulla mauris.

                p  Aenean in consequat augue. Curabitur mollis, ligula sed ultricies luctus, lorem mi auctor nisi, quis facilisis enim elit non orci. Donec consectetur tempor sapien vel vestibulum. Phasellus sed congue est. Etiam vel magna eleifend, interdum lectus quis, elementum nulla. Sed auctor diam libero, non eleifend nisi dictum non. Aliquam erat volutpat. Suspendisse vitae nisl at turpis auctor gravida. Praesent interdum nunc at fringilla elementum. Aliquam ullamcorper laoreet facilisis. Donec tincidunt est semper risus vestibulum aliquam. Quisque vulputate at lectus eu dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                      h3 5% de descuento
                      p.titulo Viaje a Canada
                      p.fecha 20 de Marzo de 2022 - 28 de marzo 2022
                      p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
