extends ./layout/index

block contenido
    main.container.mt-5 
      .row
         .col-md-5
             img(src="img/nosotros.jpg", alt="", class="img-fluid")
         .col-md-7
             h1= pagina
             blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor placerat augue vel blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse quis accumsan dui. Maecenas eu mauris tincidunt, porta nisl nec, sollicitudin justo. Proin fermentum orci nec tellus ultricies placerat. Donec et augue at nisl efficitur consectetur sit amet ac massa. Vestibulum imperdiet vel erat vitae viverra. Pellentesque cursus justo tellus, at hendrerit diam faucibus ut.

             p Quisque luctus massa lectus, et malesuada libero viverra non. Quisque et nisl nec felis interdum placerat. Nullam nec ornare mi. Nam in lorem ipsum. Proin egestas ornare lacus at cursus. Curabitur in lectus eu orci aliquam pretium. Praesent convallis porta lectus.

             p Nunc id ornare mauris. In at ipsum et augue sodales scelerisque sed id augue. Pellentesque semper rutrum 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                   img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                   h2.mb-4 Seguridad
                   p Nunc id ornare mauris. In at ipsum et augue sodales scelerisque sed id augue. Pellentesque semper rutrum 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 destinos
                    p Nunc id ornare mauris. In at ipsum et augue sodales scelerisque sed id augue. Pellentesque semper rutrum 


                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 los mejores precios
                    p Nunc id ornare mauris. In at ipsum et augue sodales scelerisque sed id augue. Pellentesque semper rutrum 


